@model ProyectoMancariBlue.Models.Empleado;


@{
    ViewData["Title"] = "Detalles";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Detalle de Empleado</h1>
        <p>Empleados</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Detalle de Empleado</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.CedEmpleado)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Nombre)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellidos</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Apellido)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nacionalidad</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Nacionalidad)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.CedEmpleado)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de nacimiento</label>
                        <input class="form-control" type="date" value="@Html.DisplayFor(model => model.FechaNacimiento)" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Provincia</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Provincia)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantón</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Canton)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Distrito</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.Distrito)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Puesto</label>
                        <input class="form-control" value="@Html.DisplayFor(model => model.RoleEmpleado.Name)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" type="date" value="@Html.DisplayFor(model => model.FechaIngreso)" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Salario</label>
                        <input class="form-control" value="$@Html.DisplayFor(model => model.Salario)" readonly />
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="form-group">
                   <a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Regresar</a>
                </div>
        </div>
    </div>
</div>